* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", arial, sans-serif;
}

ul {
    list-style: none;
}

p {
    color: #181818;
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-image: url(../img/loader-coffee.gif);
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

#stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
}

.primary-button a {
    display: inline-block;
    background-color: #202628;
    color: #5c9d7d;
    padding: 12px 18px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.primary-button a:hover {
    color: #ffffff;
}

.green-button a {
    display: inline-block;
    background-color: #5c9d7d;
    padding: 12px 18px;
    color: #202628;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.green-button a:hover {
    color: #fff;
}

.white-button a {
    display: inline-block;
    background-color: #e6e6e6;
    padding: 12px 18px;
    color: #121212;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #121212;
    color: #e6e6e6;
}

.section-heading h4 {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
}

.section-heading h6 {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #121212;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #121212;
    margin: 0 auto;
}

.section-heading .line-dec-s {
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto;
}

.section-heading .line-dec-o {
    width: 55px;
    height: 2px;
    background-color: #121212be;
    margin: 0 auto;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: 80px;
    background-color: transparent;
    text-align: center;
    line-height: 40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
    line-height: 80px;
    padding: 0px;
}

.navbar-nav>li>a {
    color: #fff !important;
    font-size: 15px;
    font-weight: 100%;
    text-transform: uppercase;
    text-shadow: none;
    line-height: 80px;
    padding: 0px;
    letter-spacing: 0.5px;
}

.navbar-nav>li {
    margin-left: 45px;
}

.header.active .navbar-nav>li>a {
    font-size: 15px;
    font-weight: 100%;
    text-transform: uppercase;
    text-shadow: none;
    color: #000000 !important;
}

.header.active {
    background-color: #dcdddd;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.navbar-brand .logo img {
    margin-left: -100px;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
}

.header.active .navbar-brand .logo img {
    margin-left: -100px;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
}

#main-nav {
    background-color: transparent;
    background-image: none !important;
}

.header .navbar-brand {
    font-weight: 900;
}

.navbar-inverse {
    background-image: none;
    background-color: transparent;
}

.header .navbar {
    margin: 0;
    border: none;
}

.page-section {
    padding: 80px 0;
}

.navbar-inverse .navbar-toggle {
    margin-top: 22px;
    border-color: #5c9d7d;
    background-color: #5c9d7d;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #5c9d7d;
}

bootstrap.min.css: 5 .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .header .navbar-brand {
        padding-left: 0;
    }
    .navbar-nav {
        float: right;
    }
}

@media (max-width: 480px) {
    .page-section h1 {
        font-size: 3em;
    }
    .page-section h2 {
        font-size: 2em;
    }
    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }
}


/* HERO SLIDER */

.slide-caption {
    color: #fff;
    background: #000000a6;
    padding: 20px;
}

ser .slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
}

.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
}

.slide-caption p {
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 24px;
}

ul.cd-hero-slider {
    margin-bottom: 0px !important;
}


/* WHAT WE DO */

#about {
    background-color: #dddddd;
    padding: 80px 0px;
}

#about .section-heading {
    margin-bottom: 60px;
}

.about-buttons {
    display: inline-flex;
}

.about-btn {
    padding-right: 5px;
}

#about .right-image img {
    height: 50%;
    width: 85%;
}


/* skills/services */

.container-skills {
    margin: 0 auto;
    background: #202628;
    color: #ffffff;
    padding-bottom: 0px;
}

#skills .section-heading h4 {
    color: #fff;
}

#skills .section-heading .line-dec {
    color: #fff;
}


/* ~ Browser ~ */

.browser {
    align-self: center;
    border: 1px solid #fff;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 3px rgba(32, 35, 42, 0.14);
}


/* ~ Browser Bar ~ */

.browser-bar {
    background: #EEF1F5;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #DEE0E4;
    overflow: hidden;
}

.browser-bar .options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options .option {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    margin: 0 5px;
}

.skill-text-center {
    margin: 0px;
    padding: 30px;
    text-align: center;
}


/* ~ Browser Content ~ */

.browser-content {
    margin: 10px auto;
    width: 800px;
    height: max-content;
}

.skill-row {
    padding: 0px 15px;
    border-bottom: 1px solid #EBEFF4;
    display: flex;
    flex-direction: row;
    /* justifiy-content: space-between; */
}

.skill-row>p {
    align-self: flex-start;
    width: 160px;
}

.skill-row i {
    margin-right: 10px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 5px;
    width: 30px;
}

.skill-row .heading {
    position: relative;
    top: -5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
}

.stars {
    margin: -5px 15px 0 15px;
    align-self: center;
    display: flex;
    flex-direction: row;
    max-width: 300px;
}

.skill-row i .img {
    height: 20px;
    width: 20px;
}

.fas {
    font-weight: 800 !important;
}

.stars i {
    font-size: 30px;
    color: #ffffff;
}

.stars i:hover {
    transform: scale(1.2);
    transition: transform .4s ease;
}


/* #html i {
	color: #E34F26;
}

#css i {
	color: #1B74BA;
}

#sass i {
	color: #CC6699;
}

#javascript i {
		color: #F7E017;
}

#git i {
		color: #000000;
}

#node i {
		color: #43853D;
}

#react i {
		color: #61DAFB;
}
#python i {
  color: #f8fb61;
}
#vuejs i {
  color: #0a5c03;
}
#mongodb i {
  color: #43853D;
}
#mysql {
  color: #0a67be;
}
#bootstrap {
  color: #5e0abe;
} */

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.circle .right {
    z-index: 3;
    transform: rotate(180deg);
}

.circle .right .progress {
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
    }
}

.circle .dot {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 10px;
    margin-top: -5px;
    animation: dot 8s linear both;
    transform-origin: 0% 50%;
}

.circle .dot span {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

@keyframes dot {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(90deg);
        z-index: 4;
    }
    100% {
        transform: rotate(270deg);
        z-index: 4;
    }
}


/* edu-passion */

#edu {
    text-align: center;
    background: #dddddd;
    padding-top: 20px;
}

#edu .hobbies {
    text-align: center;
    justify-content: center;
}


/* PORTFOLIO */

#portfolio {
    text-align: center;
    background: #fdfdfd;
    padding-top: 0px;
}

.projects-holder .mix {
    display: none;
}

.filter-categories {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

.filter-categories ul li {
    margin: 0px 10px 15px 10px;
    display: inline-block;
}

.filter-categories ul li span {
    cursor: pointer;
    color: #5a5a5a;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
}

.filter-categories ul li.active span {
    color: #5c9d7d;
}

.project-item {
    margin-top: 30px;
}

.project-item .thumb {
    position: relative;
    text-align: center;
    height: 300px;
    display: inline-block;
}

.project-item .thumb img {
    width: 100%;
    overflow: hidden;
}

.project-item .thumb .ghf {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.project-item .hover-effect {
    position: absolute;
    background-color: #202628e7;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.project-item .hover-effect p {
    position: absolute;
    font-weight: bolder;
    transition: all 0.5s;
    color: rgb(255, 255, 255);
}


/* comingSoon projects */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.project-item .hover-effect i {
    text-align: center;
    margin-top: 35%;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #5c9d7d;
    line-height: 46px;
    color: #202628;
    border-radius: 50%;
    font-size: 18px;
}

.project-item .hover-effect i:hover {
    background-color: #202628;
    color: #fff;
    transition: all 0.5s;
}

.project-item:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}


/* testimonials */

#testimonials {
    background: #dddddd;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#testimonials .section-heading {
    margin-bottom: 60px;
}

#testimonials .section-heading h4 {
    color: rgb(0, 0, 0);
}

#testimonials .section-heading .line-dec {
    background-color: #202628;
}

.testimonials {
    background: rgba(255, 255, 255, 0.404);
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
}

.testimonials:before,
.testimonials:after {
    content: "";
    border-top: 40px solid rgba(255, 255, 255, 0.404);
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonials:after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonials .icon {
    display: inline-block;
    font-size: 80px;
    color: #5c9d7d;
    margin-bottom: 20px;
}

.testimonials .description {
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.8;
}

.testimonials .testimonials-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.testimonials .pic {
    display: inline-block;
    border: 2px solid #5c9d7d;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonials .pic img {
    width: 100%;
    height: auto;
}

.testimonials .title {
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.testimonials .post {
    display: block;
    font-size: 14px;
    color: #454546;
}

.owl-theme .owl-controls {
    margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
    width: 32px;
    height: 10px;
    background: rgb(0, 0, 0);
    border: 2px solid #5c9d7d;
    margin: 5px;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #5c9d7d;
    border-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 650px) and (min-width: 400px) {
    .testimonials:before {
        border-right: 325px solid transparent;
    }
    .testimonials:after {
        border-left: 325px solid transparent;
    }
}


/* Projects */

.projects-item .text-content {
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 5px 20px;
}

.projects-item .text-content h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}

.projects-item .text-content span {
    font-size: 12px;
    color: #fff;
}

.projects-item .text-content em {
    font-style: normal;
    font-weight: 700;
    margin-right: 5px;
}

.pop,
.pop2,
.pop3 {
    z-index: 9999;
    text-align: center;
    padding: 30px;
    display: none;
    position: fixed;
    top: 25%;
    left: 10.3%;
    width: 80%;
    height: auto;
    box-shadow: 0px 0px 25px #7a7a7a;
}

.pop span,
.pop2 span,
.pop3 span {
    margin-bottom: 20px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    color: #fff;
    text-align: center;
    background-color: #5c9d7d;
}

.pop span:hover,
.pop2 span:hover,
.pop3 span:hover {
    background-color: #5c9d7d;
    transition: all 0.5s;
}


/* FUN FACTS */

#fun-facts {
    padding: 100px 0px;
    background-color: #fff;
}

#fun-facts .fact-item {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 100%;
    text-align: center;
}


/* CONTACT*/

#contact .section-heading h4 {
    color: #fff;
}

#contact .section-heading .line-dec {
    background-color: #fff;
}

#contact .section-heading {
    margin-bottom: 60px;
}

#contact {
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#contact .map img {
    width: 100%;
    overflow: hidden;
}

#contact input {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 50px;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

#contact .icon {
    padding-left: 10px;
    font-size: 13px;
    color: #fff;
    margin-top: 10px;
}

#contact textarea {
    border-radius: 0px;
    padding-left: 15px;
    font-size: 13px;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.1);
    outline: none;
    border: none;
    box-shadow: none;
    height: 165px;
    max-height: 220px;
    width: 100%;
    margin-bottom: 25px;
}

#contact button {
    display: inline-block;
    background-color: #6d1010;
    padding: 12px 18px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
}

#contact button:hover {
    background-color: #5c9d7d;
    color: #202628;
    transition: all 0.3s;
}


/* FOOTER */

footer {
    background-color: #d4d3d3;
    padding: 20px;
}

footer p {
    font-size: 12px;
    color: #202628;
    margin-bottom: 0px;
    margin-top: 20px;
}

footer em {
    font-style: normal;
    font-weight: 700;
    color: #5c9d7d;
}

footer ul {
    margin-top: 15px;
    float: right;
}

footer ul li {
    display: inline-block;
    margin-left: 5px;
}

footer ul li a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    background-color: #5c9d7d;
    color: #202628;
    border-radius: 50%;
}

footer ul li a:hover {
    color: #fff;
    background-color: #202628;
    transition: all 0.5s;
}


/* LIGHT BOX */

body:after {
    content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    margin-top: 5%;
    left: 0;
    width: 100%;
    z-index: 100000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    /* Background color behind image.
     This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container>.nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../img/prev.png) left 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../img/next.png) right 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/* RESPONSIVE */

@media (max-width: 767px) {
    #main-nav {
        border-color: rgba(250, 250, 250, 0.95);
        margin-top: 16px;
        background-color: rgba(250, 250, 250, 0.95);
        box-shadow: 0px 5px 10px #cdcdcd;
    }
    .navbar-nav {
        padding: 0px;
        margin-top: 0px;
        margin-top: 0px;
    }
    .navbar-nav>li {
        margin-left: 0px;
        border-bottom: 1px solid #eee;
    }
    .navbar-nav>li:last-child {
        border-bottom: none;
    }
    .navbar-nav>li>a {
        line-height: 50px;
        color: #121212 !important;
    }
}

@media (max-width: 768px) {
    .cd-hero .slide-caption span {
        font-size: 13px;
    }
    .cd-hero .slide-caption h2 {
        font-size: 28px;
    }
    /* #about .right-image img{
    height: 200px;
    width:200px;
  } */
}

@media (max-width: 1015px) {
    .slide-caption .content-caption p {
        padding: 0 10%;
    }
    .service-item {
        margin-bottom: 30px;
    }
    .right-image {
        margin-top: 50px;
    }
    #testimonials .pop {
        top: 15%;
        height: 80%;
        overflow-y: scroll;
    }
    .fact-item {
        margin-bottom: 15px;
    }
    .map {
        margin-bottom: 45px;
    }
    footer {
        text-align: center;
    }
    footer ul {
        float: none;
    }
}